certifi
tornado>=5.1
cryptography
decorator>=4.4.0
APScheduler==3.6.3
pytz>=2018.6
conda
selenium
selenium-wire
google
kora
aliyun-python-sdk-core-v3
aliexpress-sdk
selenium-wire
pyautogui


<!--
Как подружить jupiter с gheets
https://towardsdatascience.com/how-to-integrate-google-sheets-and-jupyter-notebooks-c469309aacea

conda install pandas jupyter 
pip install gspread oauth2client df2gspread

-->

gspread 
oauth2client 
df2gspread
google-auth-httplib2




<!--stackedit_data:
eyJoaXN0b3J5IjpbLTkwNDg1NTQzNF19
-->